# SBTi-Finance Tool - Target Reporting
This notebook is an example of how to use the tool to calculate your portfolio's temperature scores and to save results to be submitted to SBTi's Target Validation Team (TVT) for validation and approval of your own Science Based Target.

Please see the [methodology](https://sciencebasedtargets.org/wp-content/uploads/2020/07/Temperature-Scoring-Beta-Methodology.pdf), [guidance](https://sciencebasedtargets.org/financial-institutions) and the [technical documentation](http://getting-started.sbti-tool.org/) for more details on how to calculate portfolio temperature scores and how to submit targets to the SBTi for validation and approval. 

See 1_analysis_example for more in depth example of how to work with Jupyter Notebooks in general and SBTi notebooks in particular.

## Setting up
This section imports SBTi tools, import data providers, and load the portfolio.

In [1]:
!pip install SBTi

Requirement already satisfied: SBTi in c:\sources\sbti\venv\lib\site-packages (0.5)
Requirement already satisfied: pandas in c:\sources\sbti\venv\lib\site-packages (from SBTi) (1.0.3)
Requirement already satisfied: xlrd in c:\sources\sbti\venv\lib\site-packages (from SBTi) (1.2.0)
Requirement already satisfied: pydantic in c:\sources\sbti\venv\lib\site-packages (from SBTi) (1.6.1)
Requirement already satisfied: pytz>=2017.2 in c:\sources\sbti\venv\lib\site-packages (from pandas->SBTi) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\sources\sbti\venv\lib\site-packages (from pandas->SBTi) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\sources\sbti\venv\lib\site-packages (from pandas->SBTi) (1.19.1)
Requirement already satisfied: dataclasses>=0.6; python_version < "3.7" in c:\sources\sbti\venv\lib\site-packages (from pydantic->SBTi) (0.7)
Requirement already satisfied: six>=1.5 in c:\sources\sbti\venv\lib\site-packages (from python-dateutil>=2.6.1->pandas->SBTi) (1.15.0)

In [2]:
%load_ext autoreload
%autoreload 2
import SBTi
from SBTi.data.excel import ExcelProvider
from SBTi.portfolio_aggregation import PortfolioAggregationMethod
from SBTi.portfolio_coverage_tvp import PortfolioCoverageTVP
from SBTi.temperature_score import TemperatureScore
from SBTi.interfaces import ETimeFrames, EScope
import pandas as pd

### Download resources for Google Colab environment

In [3]:
# Download the dummy data
import urllib.request
import os

if not os.path.isdir("data"):
    os.mkdir("data")
if not os.path.isfile("data/data_provider_example.xlsx"):
    urllib.request.urlretrieve("https://github.com/OFBDABV/SBTi/raw/master/examples/data/data_provider_example.xlsx", "data/data_provider_example.xlsx")
if not os.path.isfile("data/example_portfolio.csv"):
    urllib.request.urlretrieve("https://github.com/OFBDABV/SBTi/raw/master/examples/data/example_portfolio.csv", "data/example_portfolio.csv")
if not os.path.isfile("utils.py"):
    urllib.request.urlretrieve("https://github.com/OFBDABV/SBTi/raw/master/examples/utils.py", "utils.py")

try:  # Import statement when run in Google Colabs
    from utils import  print_aggregations, print_grouped_scores, anonymize, print_percentage_default_scores
except:  # Import statement when run locally
    from examples.utils import print_aggregations, print_grouped_scores, anonymize, print_percentage_default_scores

Specify the data files to use (portfolio and company data). In this example we are using dummy data. 

To change the files, first upload (when using Google Colab) or place the files to the data map (when running locally).
Next, change the file locations between the quotes below.

In [4]:
provider = ExcelProvider(path="data/data_provider_example.xlsx")             # adjust the path according to your data
portfolio = pd.read_csv("data/example_portfolio.csv", encoding="iso-8859-1") # adjust the path according to your data
companies = SBTi.utils.dataframe_to_portfolio(portfolio)
portfolio

,company_name,company_id,company_isin,weights,investment_value,engagement_target
0,Company AG,US0079031078,US0079031078,6.36%,35000000,True
1,Company AH,US00724F1012,US00724F1012,1.82%,10000000,False
2,Company AI,FR0000125338,FR0000125338,1.82%,10000000,False
3,Company AJ,US17275R1023,US17275R1023,1.82%,10000000,False
4,Company AK,CH0198251305,CH0198251305,1.82%,10000000,False
5,Company AL,US1266501006,US1266501006,1.82%,10000000,False
6,Company AM,FR0000120644,FR0000120644,1.82%,10000000,False
7,Company AN,US24703L1035,US24703L1035,1.82%,10000000,False
8,Company AO,TW0002308004,TW0002308004,1.82%,10000000,False
9,Company AP,FR0000120321,FR0000120321,1.82%,10000000,False
10,Company AQ,CH0038863350,CH0038863350,1.82%,10000000,False
11,Company AR,US8356993076,US8356993076,1.82%,10000000,False
12,Company AS,JP3401400001,JP3401400001,1.82%,10000000,False
13,Company AT,US6541061031,US6541061031,1.82%,10000000,False
14,Company AU,GB0031274896,GB0031274896,1.82%,10000000,False
15,Company AV,US6293775085,US6293775085,1.82%,10000000,False
16,Company AW,US7134481081,US7134481081,1.82%,10000000,False
17,Company A,JP0000000001,JP0000000001,1.82%,10000000,True
18,Company B,NL0000000002,NL0000000002,1.82%,10000000,False
19,Company C,IT0000000003,IT0000000003,1.82%,10000000,False
20,Company D,SE0000000004,SE0000000004,1.82%,10000000,False
21,Company E,SE0000000005,SE0000000005,1.82%,10000000,False
22,Company F,NL0000000006,NL0000000006,1.82%,10000000,True
23,Company G,CN0000000007,CN0000000007,1.82%,10000000,False
24,Company H,CN0000000008,CN0000000008,1.82%,10000000,False
25,Company I,CN0000000009,CN0000000009,1.82%,10000000,False
26,Company J,BR0000000010,BR0000000010,1.82%,10000000,False
27,Company K,BR0000000011,BR0000000011,1.82%,10000000,True
28,Company L,BR0000000012,BR0000000012,1.82%,10000000,False
29,Company M,AR0000000013,AR0000000013,1.82%,10000000,False
30,Company N,FR0000000014,FR0000000014,7.82%,43000000,False
31,Company O,FR0000000015,FR0000000015,1.82%,10000000,False
32,Company P,FR0000000016,FR0000000016,1.82%,10000000,False
33,Company Q,CA0000000017,CA0000000017,2.18%,12000000,False
34,Company R,CA0000000018,CA0000000018,1.82%,10000000,False
35,Company S,CA0000000019,CA0000000019,1.82%,10000000,False
36,Company T,CA0000000020,CA0000000020,1.82%,10000000,False
37,Company U,US0000000021,US0000000021,1.82%,10000000,True
38,Company V,US0000000022,US0000000022,1.82%,10000000,False
39,Company W,US0000000023,US0000000023,1.82%,10000000,False
40,Company X,FI0000000024,FI0000000024,1.82%,10000000,False
41,Company Y,DK0000000025,DK0000000025,1.82%,10000000,False
42,Company Z,JP0000000026,JP0000000026,1.82%,10000000,False
43,Company AA,SP0000000027,SP0000000027,1.82%,10000000,True
44,Company AB,RU0000000028,RU0000000028,1.82%,10000000,False
45,Company AC,ZA0000000029,ZA0000000029,1.82%,10000000,False
46,Company AD,KE0000000030,KE0000000030,1.82%,10000000,False
47,Company AE,TH0000000031,TH0000000031,1.82%,10000000,False
48,Company AF,ID0000000032,ID0000000032,1.82%,10000000,False

## Select calculation options
Configure computational settings for the temperature score. Below an example configuration with other options displayed in the comments

In [5]:
# Settings                                              # Other Options: 
time_frames = [SBTi.interfaces.ETimeFrames.MID]         # ETimeFrames: SHORT MID and LONG
scopes = [EScope.S1S2, EScope.S1S2S3]                   # EScopes: S1, S2, S3, S1S2 and S1S2S3
fallback_score = 3.2                                    # The options of the default score are 3.2, 3.9 or 4.5
aggregation_method = PortfolioAggregationMethod.WATS    # Options for the aggregation method are WATS, TETS, AOTS, MOTS, EOTS, ECOTS, and ROTS.
grouping = ['sector']                                   # Any column available on company level

In [6]:
temperature_score = TemperatureScore(
    time_frames=time_frames,
    scopes=scopes,
    fallback_score=fallback_score,
    aggregation_method=aggregation_method,
    grouping=grouping
)

## Calculate company and portfolio temperature scores

In [7]:
amended_portfolio = temperature_score.calculate(data_providers=[provider], portfolio=companies)
aggregated_scores = temperature_score.aggregate_scores(amended_portfolio)

## Checks
In this example, the following scores are calculated:
- Portfolio temperature score
- Score for each sector
- Percentage covered by targets vs. default scores
- Portfolio coverage

In [8]:
# Portfolio temperature score
print_aggregations(aggregated_scores)

Timeframe  Scope      Temp score
mid        S1S2       2.63
mid        S1S2S3     2.88

In [9]:
# Score per sector
print_grouped_scores(aggregated_scores)

                         Temp score
mid - S1S2
Communication Services   3.20
Consumer Discretionary   2.44
Consumer Staples         3.20
Energy                   3.20
Financials               3.20
Health Care              2.70
Industrials              2.36
Information Technology   1.32
Materials                3.20
Real Estate              3.28
Utilities                2.58

                         Temp score
mid - S1S2S3
Communication Services   3.20
Consumer Discretionary   3.08
Consumer Staples         3.20
Energy                   3.20
Financials               3.11
Health Care              3.05
Industrials              2.72
Information Technology   2.15
Materials                3.20
Real Estate              3.21
Utilities                2.73

In [9]:
# Percentage of score based on default score
print_percentage_default_scores(aggregated_scores)

                    company_name   scope    company_id  temperature_results
0    Advanced Micro Devices, Inc    S1S2  US0079031078             0.000000
2    Advanced Micro Devices, Inc  S1S2S3  US0079031078             0.727326
3             Adobe Systems Inc.    S1S2  US00724F1012             0.000000
5             Adobe Systems Inc.  S1S2S3  US00724F1012             0.000000
6                Capgemini Group    S1S2  FR0000125338             1.000000
..                           ...     ...           ...                  ...
140                   Company AD  S1S2S3  KE0000000030             1.000000
141                   Company AE    S1S2  TH0000000031             1.000000
143                   Company AE  S1S2S3  TH0000000031             1.000000
144                   Company AF    S1S2  ID0000000032             1.000000
146                   Company AF  S1S2S3  ID0000000032             1.000000

[98 rows x 4 columns]

In [10]:
# Portfolio coverage: Percentage of SBTs in portfolio
portfolio_coverage_tvp = PortfolioCoverageTVP()
coverage = portfolio_coverage_tvp.get_portfolio_coverage(amended_portfolio.copy(), PortfolioAggregationMethod.WATS)
print("Portfolio coverage is {c:.2f}%".format(c=coverage))

Part of portfolio with SBTi approved targets is 35.45%

## Save anonymized data for SBTi target validation
In order for the targets to be validated by SBTi, you can save your data locally. By running the anonymize function, you can replace company identifiers with meaningless substitutes.

In [11]:
portfolio, provider = anonymize(portfolio, provider)

In order to store the portfolio and provider data locally, two options apply:
1. You are running the SBTi tool locally or from Google Colab
2. You are running the SBTi tool from a Docker container

If you run the SBTi tool locally or from Google Colab, you:
- Specify and filenames in the cell below
- Run the cell below

In [12]:
portfolio_filename = 'portfolio.xlsx'
provider_filename = 'provider.xlsx'
portfolio.to_excel(portfolio_filename, index=False)

writer = pd.ExcelWriter(provider_filename, engine='openpyxl')
provider.data['fundamental_data'].to_excel(writer, sheet_name='fundamental_data')
provider.data['target_data'].to_excel(writer, sheet_name='target_data')
writer.save()

If you run the SBTi tool locally, you find the output files in the root folder of this notebook

If you run the SBTi tool from Google Colab, you:
- Click on the files icon in the left pane
- Click the three dots that appear after hovering over the file
- Download the file to your local machine